<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--限制大小1024M-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <aspNetCore processPath="%LAUNCHER_PATH%">
      <handlerSettings>
        <handlerSetting name="enableShadowCopy" value="true" />
        <handlerSetting name="shadowCopyDirectory" value="../EasyTemplateApiShadowCopy/" />
      </handlerSettings>
    </aspNetCore>
  </system.webServer>
</configuration>